{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://justpaste.it/redirect/d752n/https%3A%2F%2Fcdn.jsdelivr.net%2Fnpm%2Fbootstrap%405.3.0-alpha3%2Fdist%2Fcss%2Fbootstrap.min.css" rel="nofollow" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="nofollow" href=''css/style.css' %}">
    <title> Lost and Found Items Monitoring System | {%block title%} {%endblock%}</title>
    </head>

  <body>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
